<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sportmeeting1.dao.AthleteJoinMapper">
    <resultMap id="BaseResultMap" type="com.example.sportmeeting1.model.AthleteJoin">
        <id column="order_number" jdbcType="INTEGER" property="orderNumber" />
        <result column="project_number" jdbcType="INTEGER" property="projectNumber" />
        <result column="athlete_number" jdbcType="INTEGER" property="athleteNumber" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="group_number" jdbcType="INTEGER" property="groupNumber" />
        <result column="athlete_name" jdbcType="VARCHAR" property="athleteName" />
        <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    </resultMap>
    <select id="selectByProjectNumberAndGroupNumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            order_number, project_number, athlete_number, score, group_number, athlete_name,
            team_id, judge_ID
        from athlete_join
        where project_number=#{projectNumber} and group_number=#{groupNumber}
    </select>
    <select id="selectAll"  resultMap="BaseResultMap">
        select
            *
        from athlete_join
    </select>
    <insert id="insertAthleteJoin" >
        insert into athlete_join(team_id,athlete_name,athlete_number,project_number)
        values (#{teamId},#{athleteName},#{athleteNumber},#{projectNumber})
    </insert>
    <select id="selectByProjectNumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from athlete_join where project_number = #{projectNumber}
    </select>
    <select id="selectByProjectNumberAndAthleteNumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from athlete_join where project_number = #{projectNumber} and athlete_number=#{athleteNumber}
    </select>
    <select id="selectByJudgeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            order_number, project_number, athlete_number, score, group_number, athlete_name,
            team_id, judge_ID
        from athlete_join
        where judge_ID=#{judgeId}
    </select>
    <select id="selectByProjectNumberAndGroupNumberAndAthleteNumberAndJudgeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            order_number, project_number, athlete_number, score, group_number, athlete_name,
            team_id, judge_ID
        from athlete_join
        where project_number=#{projectNumber} and group_number=#{groupNumber} and athlete_number=#{athleteNumber} and judge_ID=#{judgeId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from athlete_join
        where order_number = #{orderNumber,jdbcType=INTEGER}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.example.sportmeeting1.model.AthleteJoin">
        update athlete_join
        set
            score = #{score,jdbcType=INTEGER}
        where project_number=#{projectNumber} and group_number=#{groupNumber} and athlete_number=#{athleteNumber} and judge_ID=#{judgeId}
    </update>
    <update id="updateByProjectNumberAndAthleteNumber" parameterType="com.example.sportmeeting1.model.AthleteJoin">
        update athlete_join
        set
            score = #{score,jdbcType=INTEGER}
        where project_number=#{projectNumber} and group_number=#{groupNumber} and athlete_number=#{athleteNumber}
    </update>
</mapper>