<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sportmeeting1.dao.AthleteMapper">
    <resultMap id="BaseResultMap" type="com.example.sportmeeting1.model.Athlete">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="athlete_name" jdbcType="VARCHAR" property="athleteName" />
        <result column="athlete_sex" jdbcType="INTEGER" property="athleteSex" />
        <result column="athlete_age" jdbcType="INTEGER" property="athleteAge" />
        <result column="athlete_number" jdbcType="INTEGER" property="athleteNumber" />
        <result column="team_name" jdbcType="VARCHAR" property="teamName" />
        <result column="team_id" jdbcType="INTEGER" property="teamId" />
        <result column="athlete_tel" jdbcType="VARCHAR" property="athleteTel" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            *
        from athlete
    </select>
    <insert id="insertAthlete">
        insert into athlete(athlete_name,athlete_sex,athlete_age,id,athlete_tel,athlete_number,team_name,team_id)
        values (#{athleteName},#{athleteSex},#{athleteAge},#{id},#{athleteTel},#{athleteNumber},#{teamName},#{teamId})
    </insert>

</mapper>