<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sportmeeting1.dao.CoachMapper">
    <resultMap id="BaseResultMap" type="com.example.sportmeeting1.model.Coach">
        <result column="name" jdbcType="VARCHAR" property="coachName" />
        <result column="id" jdbcType="VARCHAR" property="coachId" />
        <result column="telephone" jdbcType="VARCHAR" property="coachTel" />
        <result column="team_id" jdbcType="VARCHAR" property="teamId" />
        <result column="sex" jdbcType="VARCHAR" property="coachSex" />
    </resultMap>
    <insert id="insertCoach" >
        insert into coach(name,id,telephone,team_id,sex)
        values (#{coachName},#{coachId},#{coachTel},#{teamId},#{coachSex})
    </insert>
</mapper>