<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sportmeeting1.dao.DoctorMapper">
    <resultMap id="BaseResultMap" type="com.example.sportmeeting1.model.Doctor">
        <result column="name" jdbcType="VARCHAR" property="doctorName" />
        <result column="id" jdbcType="VARCHAR" property="doctorId" />
        <result column="telephone" jdbcType="VARCHAR" property="doctorTel" />
        <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    </resultMap>
    <insert id="insertDoctor" >
        insert into doctor(name,id,telephone,team_id)
        values (#{doctorName},#{doctorId},#{doctorTel},#{teamId})
    </insert>
</mapper>